.fit-cover {
  object-fit: cover;
}

#acao {
  background-attachment: inherit !important;
}

#overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#acao {
  position: relative;
}

#acao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#navcol-5 {
}

@media (min-width: 768px) {
  #navcol-5 {
    display: flex !important;
    flex-basis: auto;
  }
}

#text-acao {
  z-index: 888;
}

#menu-suspenso {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu-suspenso a:hover {
  background: #007bff !important;
  padding-bottom: 10px;
}

#menu-suspenso:hover {
  background: #007bff !important;
}

.dropdown-menu {
  display: none;
  position: absolute;
}

.dropdown-menu:hover {
  display: block;
}

#menudrop:hover {
  display: block;
}

#menusus:hover {
  display: block;
}

.dropdown-menu:hover {
  display: block;
}

#dropdownMenuButton:hover {
  border: none;
  color: #007bff !important;
}

#dropdownMenuButton {
  box-shadow: none;
}

#btt-acao:hover {
  background: #007bff !important;
}

#btt-topo:hover {
  background: #292c2f !important;
}

#dropdownMenuButton {
  box-shadow: none;
}

#btt-topo:hover {
  background: #292c2f !important;
}

@media (min-width:768px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.navbar-toggler {
}

.dropdown-item:hover {
  background: #007bff;
}

.drop-sub:hover > .dropdown-menu {
  display: block;
}

.dropend:hover > .dropdown-menu {
  display: block;
  left: 100%;
}

.drop-sub:hover > .dropdown-menu {
  left: 100%;
  top: 0;
}

.drop-sub {
  background: none;
}

.butt-submenu {
  background: none;
  color: #212529;
  border: none;
  padding-left: 16px;
}

.butt-submenu:hover {
  background: #007bff;
}

.dropdown-item:hover {
  color: rgb(255,255,255);
}

#drop-bot:hover {
  color: #007bff !important;
  border-bottom: 3px solid rgb(13,110,253);
}

#nav-lin:hover {
  color: #007bff !important;
  border-bottom: 3px solid rgb(13,110,253);
}

